<v-container class="white mt-5 pa-10">
    <h3 class="mb-7">{{ title }}</h3>

    <v-container class="form">
        <form>
            <v-text-field
              v-model="roleName"
              :error-messages="roleNameErrors"
              label="Role Name"
              required
              @input="$v.roleName.$touch()"
              @blur="$v.roleName.$touch()"
            ></v-text-field>

            <v-select
            :items="roleTypes"
            :menu-props="{ maxHeight: '200' }"
            label="Role Type"
            item-text="name"
            item-value="id"
            :error-messages="roleTypeErrors"
            v-model="roleType"
            @change="$v.roleType.$touch()"
            @blur="$v.roleType.$touch()"
            required
            ></v-select>

            <v-textarea
              v-model="roleDescription"
              :error-messages="roleDescriptionErrors"
              label="Role Description"
              required
              @input="$v.roleDescription.$touch()"
              @blur="$v.roleDescription.$touch()"
            ></v-textarea>

            <v-select
            :items="editableOptions"
            :menu-props="{ maxHeight: '200' }"
            label="Editable"
            item-text="name"
            item-value="id"
            :error-messages="editableErrors"
            v-model="editable"
            @change="$v.editable.$touch()"
            @blur="$v.editable.$touch()"
            required
            ></v-select>

            <v-select
            :items="roleStatusesOptions"
            :menu-props="{ maxHeight: '200' }"
            label="Active"
            item-text="name"
            item-value="id"
            :error-messages="activeErrors"
            v-model="active"
            @change="$v.active.$touch()"
            @blur="$v.active.$touch()"
            required
            ></v-select>
        
            <v-btn
              class="mr-4"
              @click="submit"
            >
                <span v-if="isEdit">Edit Role</span>
                <span v-else>Add Role</span>
            </v-btn>

            <v-btn
            class="mr-4"
            @click="goBackToMainPage"
          >
           Go Back
          </v-btn>
        </form>
    </v-container>
</v-container>