<template src="./AddEditRole.html"></template>

<script>
import {
    required
} from "vuelidate/lib/validators";

export default {
    name: "AddRole",
    data() {
        return {
            title: "Add Role",
            roleTypes: [{
                    name: "Administration Role",
                    value: "admin"
                },
                {
                    name: "Job Administration Role",
                    value: "job_admin"
                },
            ],
            roleStatusesOptions: [{
                    name: "Active",
                    value: true
                },
                {
                    name: "Inactive",
                    value: false
                },
            ],
            editableOptions: [{
                    name: "Yes",
                    value: true
                },
                {
                    name: "No",
                    value: false
                },
            ],
            roleId: null,
            roleName: "",
            roleType: "",
            roleDescription: "",
            editable: null,
            active: null,
            isEdit: false,
            submitted: false
        };
    },
    validations: {
        roleName: {
            required
        },
        roleType: {
            required
        },
        roleDescription: {
            required
        },
        editable: {
            required
        },
        active: {
            required
        },
    },
    computed: {
        userRolesList: function () {
            return this.$store.getters.getuserRolesArray;
        },
        roleNameErrors() {
            const errors = [];
            if (!this.$v.roleName.$dirty) return errors;
            !this.$v.roleName.required && errors.push("The Role Name is required!");
            return errors;
        },
        roleTypeErrors() {
            const errors = [];
            if (!this.$v.roleType.$dirty) return errors;
            !this.$v.roleType.required && errors.push("Role Type is required");
            return errors;
        },
        roleDescriptionErrors() {
            const errors = [];
            if (!this.$v.roleDescription.$dirty) return errors;
            !this.$v.roleDescription.required &&
                errors.push("Role Description is required");
            return errors;
        },
        editableErrors() {
            const errors = [];
            if (!this.$v.editable.$dirty) return errors;
            !this.$v.editable.required && errors.push("Please select an option");
            return errors;
        },
        activeErrors() {
            const errors = [];
            if (!this.$v.active.$dirty) return errors;
            !this.$v.active.required && errors.push("Please select an option");
            return errors;
        },
    },

    methods: {
        submit() {
            var self = this;

            this.submitted = true;

            if (this.$v.$invalid) {
                return false;
            } else {

                let roleId = this.userRolesList.length > 0 ? (this.userRolesList[this.userRolesList.length - 1].id + 1) : 1;

                let role = {
                    id: roleId,
                    name: this.roleName,
                    type: this.roleType,
                    description: this.roleDescription,
                    editable: this.editable,
                    active: this.active,
                    created_on: new Date()
                };

                this.$store.commit("saveRole", role);

                this.$fire({
                    title: "Role added",
                    text: "Role added successfully",
                    type: 'success'
                })
                .then(() => {
                   self.goBackToMainPage();
                });

            }
        },
        goBackToMainPage(){
            this.$router.push('/');
        }
    },
};
</script>
