<template src="./AddEditRole.html"></template>

<script>
import {
    validationMixin
} from "vuelidate";
import {
    required
} from "vuelidate/lib/validators";

export default {
    name: "EditRole",
    mixins: [validationMixin],
    data() {
        return {
            title: "Edit Role",
            roleTypes: [{
                    name: "Administration Role",
                    value: "admin",
                },
                {
                    name: "Job Administration Role",
                    value: "job_admin",
                },
            ],
            roleStatusesOptions: [{
                    name: "Active",
                    value: true,
                },
                {
                    name: "Inactive",
                    value: false,
                },
            ],
            editableOptions: [{
                    name: "Yes",
                    value: true,
                },
                {
                    name: "No",
                    value: false,
                },
            ],
            roleId: null,
            roleName: "",
            roleType: "",
            roleDescription: "",
            createdDate: null,
            editable: null,
            active: null,
            isEdit: true,
            submitted: false
        };
    },
    validations: {
        roleName: {
            required,
        },
        roleType: {
            required,
        },
        roleDescription: {
            required,
        },
        editable: {
            required,
        },
        active: {
            required,
        },
    },
    mounted() {
        this.populateFields();
    },
    computed: {
        userRolesList: function () {
            return this.$store.getters.getuserRolesArray;
        },
        roleNameErrors() {
            const errors = [];
            if (!this.$v.roleName.$dirty) return errors;
            !this.$v.roleName.required && errors.push("The Role Name is required!");
            return errors;
        },
        roleTypeErrors() {
            const errors = [];
            if (!this.$v.roleType.$dirty) return errors;
            !this.$v.roleType.required && errors.push("Role Type is required");
            return errors;
        },
        roleDescriptionErrors() {
            const errors = [];
            if (!this.$v.roleDescription.$dirty) return errors;
            !this.$v.roleDescription.required &&
                errors.push("Role Description is required");
            return errors;
        },
        editableErrors() {
            const errors = [];
            if (!this.$v.editable.$dirty) return errors;
            !this.$v.editable.required && errors.push("Please select an option");
            return errors;
        },
        activeErrors() {
            const errors = [];
            if (!this.$v.active.$dirty) return errors;
            !this.$v.active.required && errors.push("Please select an option");
            return errors;
        }
    },

    methods: {
        submit() {
            var self = this;

            this.submitted = true;

            if (this.$v.$invalid) {
                return false;
            } else {

                let role = {
                    id: this.roleId,
                    name: this.roleName,
                    type: this.roleType.value,
                    description: this.roleDescription,
                    editable: this.editable.value,
                    active: this.active.value,
                    created_on: new Date()
                };

                this.$store.commit("editRole", role);

                this.$fire({
                        title: "Role updated",
                        text: "Role updated successfully",
                        type: 'success'
                    })
                    .then(() => {
                        self.goBackToMainPage();
                    });

            }
        },
        goBackToMainPage() {
            this.$router.push('/');
        },
        populateFields() {
            this.roleId = this.$route.params.id;

            let selectedUserRole = this.userRolesList.find(x => x.id == this.roleId);

            this.roleName = selectedUserRole.name;

            let roleTypeName = selectedUserRole.type == "admin" ? "Administration Role" : "Job Administration Role";
            this.roleType = {
                name: roleTypeName,
                value: selectedUserRole.type
            };

            this.roleDescription = selectedUserRole.description;

            let editableName = this.editable == true ? "Yes" : "No";
            this.editable = {
                name: editableName,
                value: selectedUserRole.editable
            };

            let activeName = this.active == true ? "Active" : "Inactive";
            this.active = {
                name: activeName,
                value: selectedUserRole.active
            };

            this.createdDate = selectedUserRole.created_on;
        }
    },
};
</script>
