<template>
  <v-card class="d-flex flex-column">
    <v-row>
      <v-col cols="6">
        <v-card-text class="font-weight-bold">
          {{ userRole.name }} - <span>{{ userRole.type }}</span>
        </v-card-text>
      </v-col>

      <v-col cols="6" v-if="!userRole.active">
        <v-card class="mx-auto red lighten-1 mt-3" width="100px">
          <v-card-text>
            <span class="white--text">Inactive</span>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>

    <v-card-text>
      {{ userRole.description }}
    </v-card-text>

    <v-divider></v-divider>

    <v-card-actions>
      <v-row>
        <v-col cols="6">
          <small>
            Date created {{ userRole.created_on | moment("mm/d/YYYY") }}
          </small>
        </v-col>

        <v-spacer cols="3"> </v-spacer>

        <v-col cols="3" v-if="userRole.editable">
          <v-btn icon color="primary" @click="goToEditRolePage(userRole.id)">
            <v-icon>mdi-pen</v-icon>
          </v-btn>

          <v-btn icon color="error">
            <v-icon>mdi-delete</v-icon>
          </v-btn>
        </v-col>
      </v-row>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
    name:  "UserRole",
    props: ['userRole'],
    methods: {
      goToEditRolePage(roleId)
      {
        this.$router.push("/role/edit/" + roleId);
      }
    }
}
</script>
