<template>
<v-container class="white mt-5 pa-10">
    <h3 class="mb-7">{{ title }}</h3>

    <v-container>
        <v-row>
            <v-col cols="12" sm="6" md="3">
                <v-text-field label="search" v-model="searchText" @input="filterRole"></v-text-field>
            </v-col>

            <v-col cols="12" sm="6" md="3">
                <v-select :items="roleStatuses" label="Role Status" v-model="selectedRoleStatus" @change="roleStatusChanged"></v-select>
            </v-col>

            <v-spacer cols="12" sm="6" md="3"> </v-spacer>

            <v-col cols="12" sm="6" md="3">
                <v-btn color="cyan" @click="goToAddRolePage()">
                    <span class="white--text">Create new role</span>
                </v-btn>
            </v-col>
        </v-row>
    </v-container>

    <v-item-group>
        <v-container>
            <v-row dense>
                <v-col v-for="userRole in userRolesArray" :key="userRole.id" cols="12" md="4">
                    <v-item>
                        <user-role :userRole="userRole" />
                    </v-item>
                </v-col>
            </v-row>
        </v-container>
    </v-item-group>
</v-container>
</template>

<script>
import UserRole from '../components/UserRole.vue';

export default {
    components: {
        UserRole
    },
    name: "UserRoleManagement",
    data() {
        return {
            title: "User Roles Management",
            roleStatuses: ["Active", "Inactive", "Active and Inactive"],
            searchText: "",
            userRolesArray: [],
            allStatuses: "Active and Inactive",
            selectedRoleStatus: "Active",
        };
    },
    mounted() {
        this.filterUserRole();
    },
    computed: {
        userRolesList: function () {
            return this.$store.getters.getuserRolesArray;
        },
    },
    methods: {
        filterRole() {
            this.filterUserRole();
        },
        roleStatusChanged() {
            this.filterUserRole();
        },
        filterUserRole() {

            this.$store.dispatch("filterArray", this.searchText)
                .then((response) => {
                    this.userRolesArray = response;

                    if (this.selectedRoleStatus != this.allStatuses) {
                        let isActive = this.selectedRoleStatus == "Active";
                        this.userRolesArray = this.userRolesArray.filter(x => x.active == isActive);
                    }
                });

        },
        goToAddRolePage() {
          this.$router.push("/role/add");
        }
    },
};
</script>
